@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gmvv31');
    src:  url('../fonts/icomoon.eot?gmvv31#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?gmvv31') format('truetype'),
      url('../fonts/icomoon.woff?gmvv31') format('woff'),
      url('../fonts/icomoon.svg?gmvv31#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ff690f;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    color: #333;
}


img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto;
}

.holder-header {
    position: absolute;
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.mountain {
    background-image: url("../images/bg-lg-all.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.holder-banner {
    position: relative;
}

.holder-banner h3 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 1rem;
    opacity: .6;
    padding-bottom: 6rem;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 6.25rem;
}

.banner p {
    padding: 12px 0;
}

.description {
    width: 50%;
    color: #fefefe;
    font-size: 0.75rem;
}

.description .btn {
    vertical-align: top;
    margin-bottom: 1.25rem;
}

.btn {
    color: #fff;
    background-color: 
    #ff690f;
    padding: 0.32rem 1.25rem;
    font-size: 1rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff8335;
}

.holder-offer {
    padding: 6.25rem 0;
}

h2 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    font-size: 2.125rem;
    text-transform: uppercase;
}

.offers-text {
    text-align: center;
}

.offers-text span {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: #565656;
    font-size: 1rem;
    line-height: 1.6;
}

.holder-offer-blocks {
    justify-content: center;
    padding: 1.25rem 0;
}

figure {
    padding: 2.625rem 0;
}

.holder-icon {
    max-width: 6.25rem;
    padding: 0.625rem 0;
}

.holder-text {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.75rem;
    max-width: 10.3rem;
}

.holder-text span {
    padding: 0.625rem 0;
}

h4 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    font-size: 0.875rem;
    padding: 0.625rem 0;
}

.holder-gallery {
    display: none;
}

.holder-crew {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 6.25rem 0;
}

.crew-icon {
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 0.625rem;
}

.crew-text {
    text-align: center;
}

.crew-text span {
    text-transform: uppercase;
    font-size: 0.75rem;
}

.crew-text p {
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.holder-about {
    padding: 1rem 0;
    background-image: url("../images/bg-2-sm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.holder-about-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
}

.holder-about-text p {
    color: #2b2b2b;
    font-size: 12px;
    padding: 12px 0;
}

.holder-num {
    display: flex;

}

.item {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.holder-num p {
    color: #ff690f;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    font-size: 24px;
}

.holder-num span {
    font-weight: 600;
    color: #333;
    font-size: 12px;
}

.holder-testimonials {
    padding: 15px 0;
    text-align: center;

}

.slider {
    text-align: center;
}

.slick-slide img {
    display: inline-block;
}

.slider-unit span {
    display: block;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 10px;
}

.slider-unit p {
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: #565656;
    max-width: 50%;
}

.holder-contacts {
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
}

.contacts {
    color: #fff;
    font-weight: 300;
}

.contacts h2 {
    margin-bottom: 12px;
}

.contacts li {
    padding: 8px 0;
    list-style: none;
}

.contacts a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.icon-Instagram:before {
    content: "\e900";
}
.icon-time:before {
    content: "\e901";
}
.icon-mail:before {
    content: "\e902";
}
.icon-call:before {
    content: "\e903";
}
.icon-location:before {
    content: "\e90a";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-fb:before {
    content: "\e905";
}

.holder-social {
    padding: 15px 0;
}

.holder-social li {
    display: inline-block;
    padding-right: 15px;
}

.holder-social i {
    font-size: 20px;
    color: #979797;
}

.map-lg {
    display: none;
}

@media screen and (min-width: 480px) {
    .banner {
        padding-top: 150px;
    }
}

@media screen and (min-width: 768px) {
    .holder-top {
        display: flex;
        flex-direction: column;
    }

    .holder-header {
        align-items: center;
    }

    .holder-nav {
        display: block;
    }

    .holder-nav ul {
        font-size: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        list-style: none;
    }

    .holder-nav li {
        display: inline-block;
        vertical-align: top;
        padding: 5px 10px;
    }

    .holder-nav a {
        text-decoration: none;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        font-size: 12px;
    }

    .holder-nav a:hover {
        color: #dadada;
    }

    .holder-banner p {
        text-align: left;
    }

    .holder-banner-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        padding-top: 6%;
        font-size: 12px;
    }

    .description .btn {
        margin: 10px 0 20px;
    }

    .holder-img-boarder {
        display: block;
        max-width: 58%;
    }

    .banner {
        padding-top: 240px;
        padding-bottom: 100px;
    }

    .banner p {
        padding: 33px 0;
    }

    .btn {
        padding: 7px 17px;
        font-size: 12px;
    }

    #slider-gallery {
        display: none;
    }

    .holder-gallery {
        display: flex;
    }

    .holder-about {
        padding: 30px 0;
    }

    .holder-about-text {
        width: 58%;
        text-align: left;
    }

    .holder-num p {
        font-size: 30px;
    }

    .holder-testimonials {
        padding: 30px 0;
    }

    .contacts {
        padding: 20px 50px;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        padding-top: 275px;
        padding-bottom: 125px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 15px;
    }

    .holder-about {
        background-image: url("../images/bg-2-lg.jpg");
    }

    .holder-about-text {
        padding: 60px 0 100px;
    }

    .holder-about-text h2 {
        margin-bottom: 20px;
    }

    .holder-about-text p {
        font-size: 14px;
    }

    .holder-num p {
        font-size: 14px;
        font-size: 30px;
    }

    .holder-num span {
        font-size: 14px;
    }

    .item {
        padding-right: 30px;
    }

    .holder-testimonials {
        padding: 100px 0;
    }

    .contacts-localion {
        display: flex;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        padding: 30px 50px 0;
    }

    .map {
        display: none;
    }

    .map-lg {
        display: block;
        width: 66.66%;
    }
}

@media screen and (min-width: 1300px) {
    .contacts {
        display: flex;
        flex-direction: column;
        width: 33.33%;
        padding: 30px 100px 0;
    }
}

@media screen and (min-width: 1600px) {
    /* .banner {
        top: 80%;
    }

    .holder-banner p {
        padding: 20px 0;
    } */
}



    


