@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gmvv31');
    src:  url('../fonts/icomoon.eot?gmvv31#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?gmvv31') format('truetype'),
      url('../fonts/icomoon.woff?gmvv31') format('woff'),
      url('../fonts/icomoon.svg?gmvv31#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #ff690f;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto;
}

.wrapper {
    min-width: 20rem;
}

.container {
    padding: 0 3rem;
    @media screen and (min-width: 768px) {
        padding: 0 2rem;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.logo {
    display: block;
    width: 3.75rem;
    @media screen and (min-width: 768px) {
        width: 5rem;
    }
    @media screen and (min-width: 1024px) {
        width: 8.5rem;
    }
}

.holder-header {
    padding-top: 1rem;
    @media screen and (min-width: 768px) {
        padding-top: 1rem;
        a {
            color: #fff;
            font-size: 0.9rem;
            &:hover {
                color: #dadada;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        padding-top: 1.6rem;
    }
}

.nav {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav-link {
    @media screen and (min-width: 768px) {
        padding: .5rem 0.5rem;
    }
}

.mountain {
    background-image: url("../images/bg-md-all.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }
    @media screen and (min-width: 768px) {
        padding-top: 20%;
        background-image: url("../images/bg-lg-all.jpg");
    }
    @media screen and (min-width: 1024px) {
    }
    &:after {
        content: "";
        display: block;
        padding-top: 56.25%;
    }
}

.inner-section {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.holder-banner {
    padding: 1.25rem 0;
    h3 {
        font-family: 'Catamaran', sans-serif;
        font-weight: 900;
        color: #fefefe;
        text-transform: uppercase;
        font-size: 1rem;
        opacity: .6;
        padding-bottom: 6rem;
    }
    @media screen and (min-width: 768px) {
        p {
            text-align: left;
            font-size: .8rem;
            @media screen and (min-width: 1024px) {
                font-size: 1rem;
            }
        }  
    }
}

.holder-banner-text {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        padding-top: 6%;
        font-size: 0.75rem;
    }
}

.description {
    color: #fefefe;
    padding-top: 25%;
    font-size: 0.4rem;
    width: 40%;
    @media screen and (min-width: 768px) {
        padding-top: 15%;
        font-size: 0.75rem;
        width: 50%;
        .btn {
            margin: 0.625rem 0 1.25rem;
        }
    }
    .btn {
        margin: 0.4rem 0 1rem;
    }
}

.btn {
    color: #fff;
    background-color: #ff690f;
    padding: 0.26rem 0.85rem;
    font-size: 0.4rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        background-color: #ff8335;
    }
    @media screen and (min-width: 768px) {
        padding: 0.32rem 1.25rem;
        font-size: 0.9rem;
    }
    @media screen and (min-width: 1024px) {
        font-size: 1rem;
    }
}

section {
    header {
        @media screen and (min-width: 768px) {
            margin-bottom: 3.5rem;
        }
    }
    h2 {
        font-family: 'Catamaran', sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            font-size: 2.125rem;
        }
    }
    span {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        color: #565656;
        font-size: 0.9rem;
        line-height: 1.5;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
            line-height: 1.6;
        }
    }
}

figure {
    padding: 1rem 0;
    width: 50%;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 80%;
    }
    @media screen and (min-width: 1024px) {
        width: 100%;
    }
}

.holder-text {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.75rem;
    span {
        padding: 0.625rem 0;
    }
}

h4 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #333;
    font-size: 0.875rem;
    padding: 0.625rem 0;
}

.holder-gallery {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    .gallery-box {
        width: 33.33%;
    }
}

.holder-crew {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    figure {
        width: 100%;
    }
    .col {
        flex-basis: auto;
    }
}

.crew-icon {
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 0.625rem;
    max-width: 15rem;
    margin: 0 auto;
}

.crew-text {
    text-align: center;
    padding: 1rem 0;
    span {
        text-transform: uppercase;
        font-size: 0.75rem;
    }
    p {
        font-family: 'Catamaran', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }
}

.about {
    background-image: url("../images/bg-2-sm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    min-height: 13rem;
    @media screen and (min-width: 768px) {
        background-image: url("../images/bg-2-lg.jpg");
        min-height: 36.87rem;
    }
}

.holder-about {
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
    p {
        font-size: 0.9rem;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }
    }
}

.content {
    h2 {
        margin-bottom: 1.7rem;
    }
} 

.text {
    margin-bottom: 3.5rem;
}

.item {
    strong {
        color: #ff690f;
        font-family: 'Catamaran', sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        @media screen and (min-width: 768px) {
            font-size: 1.9rem;
        }
    }
    span {
        font-weight: 600;
        color: #333;
        font-size: 0.875rem;
    }
}

.slider {
    text-align: center;
}

.slick-slide img {
    display: inline-block;
}

.slider-unit {
    span {
        display: block;
        font-family: 'Catamaran', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 0.63rem;
    }
    p {
        display: inline-block;
        text-align: center;
        font-size: 0.8rem;
        color: #565656;
        max-width: 50%;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }
    }
}

#slider-gallery {
    @media screen and (min-width: 768px) {
        display: none;
    }
}


footer {
    background-color: #2f2f2f;
}

.holder-contacts {
    
}

.map {
    background-image: url('../images/map-lg.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 18.75rem;
}

.contacts {
    color: #fff;
    font-weight: 300;
    padding: 1.2rem 1.2rem 0 2.4rem;
    @media screen and (min-width: 768px) {
        padding: 4rem 1.2rem 0
         3.6rem;
    }

    h2 {
        margin-bottom: 1rem;
    }
    li {
        padding: 0.5rem 0;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #fff;
        font-size: 0.875rem;
        cursor: pointer;
    }
}

.holder-social {
    ul {
        display: flex;
    }
    li {
        padding-right: 0.625rem;
    }
    i {
        font-size: 1.3rem;
    }
}

.holder-crew, .testimonials, .holder-offer, .holder-about {
    padding: 2rem 0;
    @media screen and (min-width: 768px) {
        padding: 4rem 0;
    }
    @media screen and (min-width: 1024px) {
        padding: 6.25rem 0;
    }
}

.icon-Instagram:before {
    content: "\e900";
}
.icon-time:before {
    content: "\e901";
}
.icon-mail:before {
    content: "\e902";
}
.icon-call:before {
    content: "\e903";
}
.icon-location:before {
    content: "\e90a";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-fb:before {
    content: "\e905";
}